$body-font-family: roboto, freesans, system-ui, -apple-system, blinkmacsystemfont, 
"Segoe UI", "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";
$link-color: #007550;
$content-width: 66rem;
$lightblue-300: #e3f2fd;
$orange-300: #fff3e0;