$body-font-family: roboto, freesans, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";
$link-color: #007550;
$nav-width: 275px;
$content-width: 960px;

main {
    font-size: 14px !important;
}