$link-color: #007550;
$nav-width: 275px;
$content-width: calc(960px + 32px);
@media (min-width: 50rem) {
    body {
        font-size: 14px !important;
    }
}
h2, .rs-count {
    counter-set: step-counter 0;
}
ol {
    counter-reset: none !important;
}